<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>JSer.info contributing item preview</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/solarized_light.min.css">
    <link rel="stylesheet" href="http://jser.info/public/css/index.css">
    <style>
        .edit {
            border: solid #ddd 1px;
        }

        .edit-textarea {
            padding: 0.2rem 0;
            width: 100%;
            height: 30rem;
        }

        .edit-save {
            margin: 0.5rem 0;
            padding: 0.5rem;
            font-size: 2rem;
        }
    </style>
</head>
<body>
<a href="https://github.com/jser/contributing-preview"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                            src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
                                                            alt="Fork me on GitHub"
                                                            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div id="js-app">
    <div class="page-content">
        <div class="post">
            <article class="post-content">
                <h1 class="site-genre">ヘッドライン</h1>
                <hr/>
                <h2>{{item.title}}</h2>

                <p>
                    <a href="{{item.url}}" title="{{item.title}}">{{item.url | ttp}}</a>
                </p>

                <p class="jser-tags jser-tag-icon">
                    <span class="jser-tag" v-for="value in item.tags">
                        {{value}}
                    </span>
                </p>

                <p v-html="item.content | marked">
                </p>
                <ul v-show="item.relatedLinks.length">
                    <li v-for="item in item.relatedLinks">
                        <a href="{{item.url}}">{{item.title}}</a>
                    </li>
                </ul>
                <hr/>
            </article>
        </div>
        <div class="edit">
            <textarea class="edit-textarea" v-model="item | json 4">
            </textarea>
            <button class="edit-save" v-on:click="storeItem">Save as URL</button>
        </div>
    </div>
</div>
<script src="build.js"></script>
</body>
</html>